.vercel

# Ignore Node.js build artifacts
.next/
node_modules/

# Ignore environment files (optional)
.env.local
.env.production

# Ignore development server logs (optional)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

